/* sidebar */
.mspa-add-wordpress-review {
	display: block;
	padding: 10px;
	border: 1px solid #00b67a;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #111111;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.mspa-add-wordpress-review:hover {
	color: #111111;
}
.mspa-add-wordpress-review img {
	height: 20px;
}

/* plugin specific */
div#product_addon_sections_product_data {
	padding: 20px;
}
div#product_addon_sections_product_data .mswa-accordion-title {
	padding: 10px;
	margin: 0 0 15px;
	cursor: pointer;
}
div#product_addon_sections_product_data .mswa-accordion-content {
	margin-bottom: 30px;
}
.mswa-accordion-title {
	cursor: pointer;
	margin: 0;
	padding: 10px;
	background-color: #e3e3e3;
	margin-bottom: 10px;
	border-radius: 5px;
	max-width: 500px;
	position: relative;
}
.mswa-accordion-title .toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}
.mswa-accordion-content.mswa-accordion-closed {
	display: none;
}

@media all and (max-width: 768px) {
	.mswa-col-2,
	.mswa-col-3,
	.mswa-col-4,
	.mswa-col-5 {
		width: 100%;
	}
}
